.navbar{

position:fixed;

top:0;

left:0;

width:100%;

z-index:1000;

backdrop-filter:blur(18px);

background:rgba(248,248,245,.72);

border-bottom:1px solid rgba(0,0,0,.05);

}

.navbar-container{

max-width:1320px;

margin:auto;

height:82px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 28px;

}

.logo{

display:flex;

align-items:center;

gap:12px;

font-family:Sora,sans-serif;

font-size:1.45rem;

font-weight:700;

}

.logo img{

height:42px;

}

nav{

display:flex;

gap:42px;

}

nav a{

font-weight:500;

transition:.25s;

}

nav a:hover{

color:#507C65;

}

.actions{

display:flex;

gap:18px;

}

.login{

background:none;

border:none;

font-size:.95rem;

font-weight:600;

}

.cta{

padding:14px 28px;

border:none;

border-radius:999px;

background:#068a48;

color:white;

font-weight:600;

transition:.3s;

}

.cta:hover{

transform:translateY(-2px);

background:#507C65;

}